<div class="container color-dark">
  <div class="col">
    <p>Adicione seu gasto</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Informe seu gasto</p>
    <form>
      <label for="item">
        <strong>Categoria : </strong>
      </label>
      <br />
      <br />
      <input type="text" class="txt" name="itens" list="categorias" [(ngModel)]="despesa.desc">
      <datalist id="categorias">
        <option *ngFor="let cat of categorias; let i = index;" [ngValue]="cat">{{cat}}</option>
      </datalist>
      <br />
      <label for="valor">
        <strong>Valor : </strong>
      </label>
      <br />
      <br />
      <input type="number" class="txt" name="valor" step="0.1" (click)="despesa.valor=null" [(ngModel)]="despesa.valor">
      <br />
      <label for="data">
        <strong>Data : </strong>
      </label>
      <br />
      <br />
      <input type="date" class="txt" name="data" [(ngModel)]="despesa.data">
      <br>
      <input type="submit" class="btn" [value]="btnText" (click)="addItem()">
    </form>
  </div>
</div>
<div class="alert" *ngIf="showMesage">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  Gasto Salvo com sucesso !
</div>
<app-list></app-list>